@import 'index.scss';

.Board {
  height: 500px;
  margin: 20px;
  width: 600px;

  display: flex;
  flex-direction: row;
  background-color: gray;

  .column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    :hover {
      cursor: pointer;
    }
  }

  .cell {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.empty {
  background-color: white;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.blue {
  height: 70px;
  width: 70px;
}

.red {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(100%);
  }
}